/composer.lock
application/logs/
index.php
application/config/constants.php
application/config/database.php
application/config/routes.php
application/controllers/Home.php
application/controllers/admin/Employee_login.php
application/controllers/employee/Dashboard.php
application/controllers/employee/Employee_login.php
application/controllers/employee/Service.php
application/controllers/user/Dashboard.php
application/controllers/user/Login.php
application/controllers/user/Service.php
application/views/admin/employee/forgot_password.php
application/views/admin/employee/login.php
application/views/admin/employee/reset_forgot_password.php
application/views/employee/forgot_password.php
application/views/employee/login.php
application/views/employee/reset_forgot_password.php
application/views/employee/template.php
application/views/employee/home/employee_jobs.php
application/views/employee/home/employee_settings.php
application/views/employee/home/employee_sidemenu.php
application/views/employee/include/footer.php
application/views/employee/include/header.php
application/views/employee/include/navbar.php
application/views/employee/include/sidebar.php
application/views/employee/includes/footer.php
application/views/employee/includes/header.php
application/views/employee/includes/home.php
application/views/employee/includes/navbar.php
application/views/employee/service/employee_dashboard.php
application/views/employee/tazzerclean/footer.php
application/views/employee/tazzerclean/header.php
application/views/employee/tazzerclean/home.php
application/views/employee/tazzerclean/navbar.php
application/views/user/home/employee_jobs.php
application/views/user/home/employee_settings.php
application/views/user/home/employee_sidemenu.php
application/views/user/home/user_form.php
application/views/user/service/employee_dashboard.php
database-upgrade/2021_6_15_Ajay-DB-for-review.sql
uploads/profile_img/118ad3102fb9df6ccf3dffdbf1ee8be3.jpg
uploads/profile_img/1627032455.jpg
index.php
application/config/constants.php
application/config/database.php
application/config/routes.php
application/controllers/Home.php
application/controllers/admin/Employee_login.php
application/controllers/user/Dashboard.php
application/controllers/user/Login.php
application/controllers/user/Service.php
application/views/admin/employee/forgot_password.php
application/views/admin/employee/login.php
application/views/admin/employee/reset_forgot_password.php
application/views/user/home/employee_jobs.php
application/views/user/home/employee_settings.php
application/views/user/home/employee_sidemenu.php
application/views/user/home/user_form.php
application/views/user/service/employee_dashboard.php
index.php
application/config/constants.php
application/config/database.php
application/config/routes.php
application/controllers/Home.php
application/controllers/admin/Employee_login.php
application/controllers/user/Dashboard.php
application/controllers/user/Login.php
application/controllers/user/Service.php
application/views/admin/employee/forgot_password.php
application/views/admin/employee/login.php
application/views/admin/employee/reset_forgot_password.php
application/views/user/home/employee_jobs.php
application/views/user/home/employee_settings.php
application/views/user/home/employee_sidemenu.php
application/views/user/home/user_form.php
application/views/user/service/employee_dashboard.php
