body {
    background-color: #ffffff;    
}

/* ---- reponsive --------- */
@media (max-width: 992px) {
	
    h2 {
        font-size: 1.6rem;
    }
}

@media (max-width: 768px) {

    h2 {
        font-size: 1.5rem;
    }
}